dces-drc-integration/src/main/resources/schemas/contributions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="contributionsLine.xsd"/>
    <xs:element name="contribution_file">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="filename" type="xs:string" />
                            <xs:element name="dateGenerated" type="xs:date" />
                            <xs:element name="recordCount" type="xs:integer" />
                            <xs:element name="formatVersion" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="CONTRIBUTIONS_LIST">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CONTRIBUTIONS" type="CONTRIBUTIONS" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>