dces-drc-integration/src/main/resources/schemas/contributionsLine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="CONTRIBUTIONS" type="CONTRIBUTIONS"/>
    <xsd:complexType name="CONTRIBUTIONS">
        <xsd:sequence>
            <xsd:element type="xsd:integer" name="maat_id"/>
            <xsd:element name="applicant">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="firstName"/>
                        <xsd:element type="xsd:string" name="lastName"/>
                        <xsd:element type="xsd:date" name="dob"/>
                        <xsd:element type="xsd:string" name="ni_number"/>
                        <xsd:element type="xsd:string" name="landline"/>
                        <xsd:element type="xsd:string" name="mobile"/>
                        <xsd:element type="xsd:string" name="email"/>
                        <xsd:element type="xsd:integer" name="preferredPaymentDay"/>
                        <xsd:element name="preferredPaymentMethod">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element type="xsd:string" name="noFixedAbode"/>
                        <xsd:element type="xsd:string" name="specialInvestigation"/>
                        <xsd:element name="homeAddress">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="detail">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="line1"/>
                                                <xsd:element type="xsd:string" name="line2"/>
                                                <xsd:element type="xsd:string" name="line3"/>
                                                <xsd:element type="xsd:string" name="city"/>
                                                <xsd:element type="xsd:string" name="country"/>
                                                <xsd:element type="xsd:string" name="postcode"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="postalAddress">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="detail">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="line1"/>
                                                <xsd:element type="xsd:string" name="line2"/>
                                                <xsd:element type="xsd:string" name="line3"/>
                                                <xsd:element type="xsd:string" name="city"/>
                                                <xsd:element type="xsd:string" name="country"/>
                                                <xsd:element type="xsd:string" name="postcode"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="employmentStatus">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="bankDetails">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="sortCode"/>
                                    <xsd:element type="xsd:integer" name="accountNo"/>
                                    <xsd:element type="xsd:string" name="accountName"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="partner">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="hasPartner"/>
                                    <xsd:element type="xsd:string" name="contraryInterest"/>
                                    <xsd:element name="ciDetails">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="code"/>
                                                <xsd:element type="xsd:string" name="description"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="partnerDetails">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="firstName"/>
                                    <xsd:element type="xsd:string" name="lastName"/>
                                    <xsd:element type="xsd:date" name="dob"/>
                                    <xsd:element type="xsd:string" name="niNumber"/>
                                    <xsd:element name="employmentStatus">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="code"/>
                                                <xsd:element type="xsd:string" name="description"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="disabilitySummary">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="declaration"/>
                                    <xsd:element name="disabilities">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="disability" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element type="xsd:string" name="code"/>
                                                            <xsd:element type="xsd:string" name="description"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute type="xsd:integer" name="id"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="application">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="offenceType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="caseType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="repStatus">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="status"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="magsCourt">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:integer" name="court"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element type="xsd:date" name="repStatusDate"/>
                        <xsd:element type="xsd:string" name="arrestSummonsNumber"/>
                        <xsd:element type="xsd:string" name="inCourtCustody"/>
                        <xsd:element type="xsd:string" name="imprisoned"/>
                        <xsd:element type="xsd:date" name="repOrderWithdrawalDate"/>
                        <xsd:element type="xsd:date" name="committalDate"/>
                        <xsd:element type="xsd:date" name="sentenceDate"/>
                        <xsd:element name="appealType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="ccHardship">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:date" name="reviewDate"/>
                                    <xsd:element type="xsd:string" name="reviewResult"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="solicitor">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="accountCode"/>
                                    <xsd:element type="xsd:string" name="name"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="assessment">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:date" name="effectiveDate"/>
                        <xsd:element type="xsd:decimal" name="monthlyContribution"/>
                        <xsd:element type="xsd:decimal" name="upfrontContribution"/>
                        <xsd:element type="xsd:decimal" name="incomeContributionCap"/>
                        <xsd:element name="assessmentReason">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element type="xsd:date" name="assessmentDate"/>
                        <xsd:element type="xsd:date" name="upliftAppliedDate"/>
                        <xsd:element type="xsd:date" name="upliftRemovedDate"/>
                        <xsd:element name="incomeEvidenceList">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="incomeEvidence" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="evidence"/>
                                                <xsd:element type="xsd:string" name="otherText"/>
                                                <xsd:element type="xsd:string" name="mandatory"/>
                                                <xsd:element type="xsd:date" name="dateReceived"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element type="xsd:string" name="sufficientDeclaredEquity"/>
                        <xsd:element type="xsd:string" name="sufficientVerifiedEquity"/>
                        <xsd:element type="xsd:string" name="sufficientCapitalandEquity"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="passported">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element type="xsd:date" name="date_completed"/>
                        <xsd:element name="reason">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:string" name="description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="equity">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="undeclaredProperty"/>
                        <xsd:element type="xsd:string" name="equityVerifiedBy"/>
                        <xsd:element type="xsd:date" name="equityVerifiedDate"/>
                        <xsd:element type="xsd:string" name="equityVerified"/>
                        <xsd:element name="propertyDescriptor">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="bedRoomCount"/>
                                    <xsd:element name="residentialStatus">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="code"/>
                                                <xsd:element type="xsd:string" name="description"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="propertyType">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="code"/>
                                                <xsd:element type="xsd:string" name="description"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="address">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="detail">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element type="xsd:string" name="line1"/>
                                                            <xsd:element type="xsd:string" name="line2"/>
                                                            <xsd:element type="xsd:string" name="line3"/>
                                                            <xsd:element type="xsd:string" name="city"/>
                                                            <xsd:element type="xsd:string" name="country"/>
                                                            <xsd:element type="xsd:string" name="postcode"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element type="xsd:decimal" name="percentageApplicantOwned"/>
                                    <xsd:element type="xsd:decimal" name="percentagePartnerOwned"/>
                                    <xsd:element type="xsd:decimal" name="applicantEquityAmount"/>
                                    <xsd:element type="xsd:decimal" name="partnerEquityAmount"/>
                                    <xsd:element type="xsd:decimal" name="declaredMortgage"/>
                                    <xsd:element type="xsd:decimal" name="declaredValue"/>
                                    <xsd:element type="xsd:decimal" name="verifiedMortgage"/>
                                    <xsd:element type="xsd:decimal" name="verifiedValue"/>
                                    <xsd:element type="xsd:string" name="tenantInPlace"/>
                                    <xsd:element name="thirdPartyList">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="thirdParty" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element type="xsd:string" name="name"/>
                                                            <xsd:element name="relationship">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element type="xsd:string" name="code"/>
                                                                        <xsd:element type="xsd:string" name="description"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element type="xsd:string" name="otherDescription"/>
                                                            <xsd:element type="xsd:date" name="dateCreated"/>
                                                            <xsd:element type="xsd:date" name="dateDeleted"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="capitalSummary">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:date" name="allEvidenceDate"/>
                        <xsd:element type="xsd:decimal" name="totalCapitalAssets"/>
                        <xsd:element type="xsd:string" name="noCapitalDeclared"/>
                        <xsd:element type="xsd:date" name="capAllowanceWithheld"/>
                        <xsd:element type="xsd:date" name="capAllowanceRestore"/>
                        <xsd:element name="motorVehicleOwnership">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="Owner"/>
                                    <xsd:element name="RegistrationList">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="Registration" minOccurs="0" maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="assetList">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="asset" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="type">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element type="xsd:string" name="code"/>
                                                            <xsd:element type="xsd:string" name="description"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element type="xsd:decimal" name="amount"/>
                                                <xsd:element type="xsd:string" name="verified"/>
                                                <xsd:element type="xsd:string" name="otherDescription"/>
                                                <xsd:element type="xsd:date" name="dateVerified"/>
                                                <xsd:element type="xsd:date" name="evidenceReceivedDate"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="propertyList">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element type="xsd:string" name="bedRoomCount"/>
                                                <xsd:element name="residentialStatus">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element type="xsd:string" name="code"/>
                                                            <xsd:element type="xsd:string" name="description"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="propertyType">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element type="xsd:string" name="code"/>
                                                            <xsd:element type="xsd:string" name="description"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="address">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="detail">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element type="xsd:string" name="line1"/>
                                                                        <xsd:element type="xsd:string" name="line2"/>
                                                                        <xsd:element type="xsd:string" name="line3"/>
                                                                        <xsd:element type="xsd:string" name="city"/>
                                                                        <xsd:element type="xsd:string" name="country"/>
                                                                        <xsd:element type="xsd:string" name="postcode"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element type="xsd:decimal" name="percentageApplicantOwned"/>
                                                <xsd:element type="xsd:decimal" name="percentagePartnerOwned"/>
                                                <xsd:element type="xsd:decimal" name="applicantEquityAmount"/>
                                                <xsd:element type="xsd:decimal" name="partnerEquityAmount"/>
                                                <xsd:element type="xsd:decimal" name="declaredMortgage"/>
                                                <xsd:element type="xsd:decimal" name="declaredValue"/>
                                                <xsd:element type="xsd:decimal" name="verifiedMortgage"/>
                                                <xsd:element type="xsd:decimal" name="verifiedValue"/>
                                                <xsd:element type="xsd:string" name="tenantInPlace"/>
                                                <xsd:element name="thirdPartyList">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="thirdParty" minOccurs="0" maxOccurs="unbounded">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element type="xsd:string" name="name"/>
                                                                        <xsd:element name="relationship">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element type="xsd:string" name="code"/>
                                                                                    <xsd:element type="xsd:string" name="description"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                        <xsd:element type="xsd:string" name="otherDescription"/>
                                                                        <xsd:element type="xsd:date" name="dateCreated"/>
                                                                        <xsd:element type="xsd:date" name="dateDeleted"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ccOutcomes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ccOutcome" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="code"/>
                                    <xsd:element type="xsd:date" name="date"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="correspondence">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="letter" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:string" name="Ref"/>
                                    <xsd:element type="xsd:integer" name="id"/>
                                    <xsd:element type="xsd:string" name="type"/>
                                    <xsd:element type="xsd:date" name="created"/>
                                    <xsd:element type="xsd:date" name="printed"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="breathingSpaceInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="breathingSpace" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element type="xsd:integer" name="ID"/>
                                    <xsd:element type="xsd:string" name="type"/>
                                    <xsd:element type="xsd:string" name="status"/>
                                    <xsd:element type="xsd:date" name="bsStartDate"/>
                                    <xsd:element type="xsd:date" name="bsEndDate"/>
                                    <xsd:element type="xsd:integer" name="debtAmt"/>
                                    <xsd:element type="xsd:string" name="debtRefNo"/>
                                    <xsd:element type="xsd:date" name="dateModified"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute type="xsd:integer" name="id"/>
        <xsd:attribute type="xsd:string" name="flag"/>
    </xsd:complexType>
</xsd:schema>